@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
nav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0 16px 0 16px;
  background-color:#faafa5;
}
.logo{
    width: 300px;
}
ul{
    display: flex;
    align-items: center;
    
}
li{
    list-style-type: none;
    padding-left: 24px;
}
a{
    color: black;
    font-weight: bold;
}
a:hover{
    color:brown;
}
header{
    background-color:antiquewhite;
    height: calc(100vh - 60px);
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 72px;
}
.laptop{
}
.subheader{
    font-size: 36px;
    margin: 16px 0 24px 0px;
}
button{
    background-color:#be867e;
    outline: auto;
    color: white;
    padding: 8px 16px;
    font-size: 24px;
    cursor: pointer;    
}
button:hover{
    background-color: #faccc6;
    color: black;
}
.row{
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about{
   padding: 48px;
   background-color:rgb(244, 222, 255);
}
h2{
    text-align: center;
    font-size: 60px;
    margin-bottom: 24px;
}
.layout{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-img-wrapper{
    width: 40%;
}
img{
    width: 100%;
}
.about-wrapper{
    width: 60%;
    padding: 0 24px;
}
.about-p {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 24px;
}
#Exhibit-A{
    padding: 48px;
    background-color: rgb(252, 165, 203);
}
#Exhibit-B{
    padding: 48px;
    background-color: rgb(168, 245, 195);
}
#Exhibit-C{
    padding: 48px;
    background-color: rgb(174, 237, 255);
}